# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# --- Django ---
db.sqlite3
media/
static/
local_settings.py

# --- IDEs / Editores ---
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- Sistema Operacional ---
.DS_Store
Thumbs.db